<div class="main-wrapper">

    <nav class="navbar navbar-dashboard fixed-top">

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-7 col-5">
                    <div class="logo-dashboard">
                        <button class="mobile-menu" type="button"><i class="fa fa-bars"></i></button>
                        <a class="navbar-logo active" href="/"><img src="../assets/images/logo.png"></a>
                    </div>

                </div>

                <div class="col-md-5 col-7">

                    <div class="active-bar">

                        <div class="notification-bar">

                            <div class="bell-notification">
                                <a href="#"><img src="../assets/images/bell.PNG"></a>
                                <span>2</span>
                            </div>
                            <div class="user-account">
                                <span class="Usname">Abhi Golhar</span>
                                <a href="#"><img src="../assets/images/user.PNG"></a>
                            </div>
                            <div class="msq-box">
                                <a href="#"><img src="../assets/images/logout.PNG">
                                </a>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>